# Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/

# Generated outputs
Examples/output/
Examples/*.png
Examples/**/*.vtu

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/
